@font-face {
    font-family: "EBGaramond";
    src: url('assets/EB_Garamond/EBGaramond-VariableFont_wght.ttf') format("truetype")
}

html {
    font-size: 18px;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

body {
    font-family: "EBGaramond", serif;
    padding: 0;
    margin: 0;
}

.hero-section {
    background-color: #2B3C2D;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-content {
    width: 75%;
    display: flex;
    flex-direction: row;
}

.header-content h1 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.header-content p {
    width: 80%;
    margin-bottom: 0px;
}

.header-links {
    text-decoration: underline;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

a:visited {
    color: white;
}

.subsection {
    color: black;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-content {
    width: 75%;
}
