@font-face {
    font-family: "EBGaramond";
    src: url('assets/EB_Garamond/EBGaramond-VariableFont_wght.ttf') format("truetype")
}

@font-face {
    font-family: "Lato";
    src: url('assets/Lato/Lato-Light.ttf') format("truetype")
}


html {
    font-size: 18px;
}

p {
    font-size: 1rem;
    line-height: 1.4rem;
}

h1, h2, h3, h4 {
    font-family: "EBGaramond", serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

.hero-section {
    background-color: #2B3C2D;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-content {
    width: 75%;
    display: flex;
    flex-direction: row;
}

.header-content {
    width: 75%;
}

.header-content h1 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.header-content p {
    width: 80%;
    margin-bottom: 0px;
}

.header-content ul {
    margin-bottom: 0px;
}

.header-side img {
    border-radius: 50%;
    width: 75%;
}

.header-side {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 0.9rem;
    text-align: center;
}

a {
    color: white;
}

a:visited {
    color: white;
}

.subsection {
    color: black;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-content {
    width: 75%;
}
